
/*Skapar en grid med 4 rader och 1 kolumn*/
body{
    display: grid;
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr ;
    grid-template-areas:
        "header "
        "nav " 
        "main "
        "footer ";
    
}

/*SKapar en ny grid i main med två kolumner*/
.filmer{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
/*Skapar ett block som centreras/ centrera bilderna samtskalar ner dem till 40% av sin orginal storlek */
img{
    display:block;
    margin:0 auto;
    width:40%
}
/* Centrerar rubrikerna till bilderna*/
h2{
    text-align:center;
}


/*Egenskaper för tebellen*/
/*Egenskaper för hela tebellen */
table,th,td{
    text-align:center;
    border:2px solid black;

}
/*Byter färg på tabell huvudet*/
th{
    background-color:greenyellow
}
/*Byter färg på varannan rad/Skapar zebra striping */
tr:nth-child(even){
    background-color:green;
}
/*Centrera tabellen*/
.Center{
    Margin:auto
}

/*Egenskaper för header*/
/*Anger gridarea och byter backgrundsfärg och textsorlek*/
header{
    grid-area: header;
    font-size:1em;
    text-align:center;
    background-color:lightblue;

}

/*Egenskapre för navigations menyn*/
/*Anger backgrundsfärg och gridarea*/
nav{
    grid-area: nav;
    background-color:grey;
}
/*Skapar en ny grid med 3 kulumner och en rad i griden nav*/
nav ul{
    display:grid;
    grid-template-columns:repeat(3,1fr);
}
/*centrarar texten och tarbort punkterna från listan*/
nav li{
    text-align:center;
    list-style-type:none;
    font-size:1.5em;   
}
/*Byter färg på texten i listan*/
nav a{
    text-decoration: none;
    color:white;
}

/*Eganskaper för main*/
/*Anger gridarea för main ,bakgrundsfärg och centrera texten*/
main{
    grid-area: main;
    background-color:lightgreen;
    text-align:center;

}
/*Egenskaper för footer*/
/*Byter bakgrundsfärg och högerjusterar texten*/
footer{
    grid-area: footer;
    background-color:green;
    text-align:right;
}

